h1{
	border-top : 3px solid red;
	border-bottom : 3px solid red;
	background : lightpink;
	padding-left: 10px;
	padding-top : 20px;
	padding-bottom : 20px;
}

#btnRemoveCompletedTasks{
	display: none;
}